{{/*
 * # SPDX-FileCopyrightText: 2021 Simon Butler <simon.butler@his.se>
 * # SPDX-License-Identifier: GPL-3.0-or-later
 */}}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-gb" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<style type=text/css>body{font-family:monospace;}</style>
	<title>{{ .Site.Title }} | {{ .Title }}</title>
	<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.SiteDescription }}{{ end }}">
	<meta name="author" content="{{ if .Author }}{{ .Author }}{{ else }}{{ .Site.Author.simon.name }}{{ end }}">
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
	{{ range .Site.Params.customCSS -}}
		<link rel="stylesheet" href="{{ . | relURL }}?rnd={{ now.Unix }}">
	{{ end }}
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{ end }}
	{{ hugo.Generator }}
	{{ partial "dublin-core" . }}
</head>
<body>
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
</body>
</html>

