{{/*
 * # SPDX-FileCopyrightText: 2021 Simon Butler <simon.butler@his.se>
 * # SPDX-License-Identifier: GPL-3.0-or-later
 */}}
{{ define "main" }}
	<main>
		<article>
		  <h1>{{ .Title }}</h1>
		  {{ if .Date }} 
		  <strong><time>{{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</time></strong>
		  {{ end }}
		       {{ range .Params.tags }}
		           <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        	       {{ end }}

			<div>
				{{ .Content }}
			</div>
		</article>
	</main>
{{ end }}
