{{/*
 * SPDX-FileCopyrightText: 2021 Simon Butler <simon.butler@his.se>
 * SPDX-License-Identifier: GPL-3.0-or-later
 */}}
{{/* Dublin Core - Reference https://www.dublincore.org/specifications/dublin-core/dcmi-terms/ */}}
<meta name="dc.title" content="{{ site.Title  | markdownify }} - {{ .Page.Title  | markdownify}}"/>
<meta name="dc.subject" content="{{ range $index, $director := .Page.Params.tags }}{{ if $index }},{{ end }}{{ . }}{{ end }}" />
{{ with  .Description }}<meta name="dc.description" content="{{ . | markdownify }}" />{{ end }}
    <meta name="dc.identifier" content="{{ .Permalink }}" /> 
    {{ with .Date }}<meta name="dc.date" content="{{ .UTC.Format site.Params.dateFormatShort }}" /> {{ end }}
    {{ with site.Params.Creator }}<meta name="dc.creator" content="{{ . }}" />{{ end }}
    {{ with site.Params.Publisher }}<meta name="dc.publisher" content="{{ . }}" />{{ end }}
    {{ with site.Params.Copyright }}<meta name="dc.rights" content="{{ . }}" />{{ end }}
    {{ with site.LanguageCode }}<meta name="dc.language" content="{{ . }}" />{{ end }}
    {{ with site.Params.LicenseURL }}<meta name="dc.license" content="{{ . }}" /> {{ end }}
