{{/*
 * SPDX-FileCopyrightText: 2021 Simon Butler <simon.butler@his.se>
 * SPDX-License-Identifier: GPL-3.0-or-later
 */}}
<footer>
  <hr/>
  <p>Copyright &copy; 2021 {{ .Site.Author.simon.name }}, {{ .Site.Params.Copyright }}.</p>
  <p>{{- range .Site.Menus.footer }}
    <a href="{{ .URL }}"><strong>{{ .Name }}</strong></a>.
  {{- end }}
  </p>
  <hr/>
  <p style="font-size: smaller;">Website built with <a href="https://gohugo.io/">Hugo v{{ hugo.Version }}</a> using adaptations to the <a href="https://themes.gohugo.io/smol/">smol theme</a></p>
</footer>
