{{/*
 * SPDX-FileCopyrightText: 2021 Simon Butler <simon.butler@his.se>
 * SPDX-License-Identifier: GPL-3.0-or-later
 */}}
<header>
  {{/*
	{{ strings.Repeat ( .Site.Title | len | add 6 ) "=" }}<br>
	== <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> ==<br>
	{{ strings.Repeat ( .Site.Title | len | add 6 ) "=" }}
  <div style="float: right;">{{ .Site.Params.subtitle }}</div><br>
  */}}
  <nav>
    <p>
			<a href="/"><strong>Home</strong></a>.
			{{ with .Site.Menus.main }}
			{{ range . }}
			<a href="{{ .URL | relURL }}"><strong>{{ .Name }}</strong></a>.
			{{ end }}
    </p>
  </nav>
  <hr/>
{{ end }}
</header>
