{{/*
 * SPDX-FileCopyrightText: 2021 Simon Butler <simon.butler@his.se>
 * SPDX-License-Identifier: GPL-3.0-or-later
 */}}
<div style="width: 80%; margin-left: 10%; border: 1px; font-size: smaller;">
  <hr />
  <p>
    <strong>Disclaimer</strong>: {{ .Inner | markdownify }}
  </p>
  <hr />
</div>
  
